body{
    text-align: center;
    margin: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-self: center;
}

.card{
    width: 400px;
    background: #ddebf8;
    display: flex;
   margin: 200px auto;
    border-bottom:5px solid pink;
    padding: 20px;
    justify-content: center
    
}
img{
    width: 150px;
   
}
.details{
    margin-left: 40px;
}